@charset "UTF-8";

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100;
    background-repeat: no-repeat;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html{
    background-color: #084f4e;
}
    
    
a{
    text-decoration: none;
    color: #ffffff;
}


.box{
    border: 1px solid;
    margin-top: 250px;
    font-size: 20px;
    color: aliceblue;
    height: 300px;
    width: 700px;
    border-radius: 10px;
    background-color: #0caba8;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons-container{
    display: flex;
    justify-content: space-around;
    height: 50px;
    width: 150px;
}

button{
    height: 50px;
     width: 70px;
     background-color: #047775;
     border-radius: 10px;
     color: aliceblue;
    font-weight: bold;
    border: solid 2px #ffffff;
}

button:hover{
    background-color:#02302f;
    border: solid 2px #023535 ;
   
}
